@import '/node_modules/bulma/bulma.sass';

html {
  background-color: rgb(15, 26, 43);
}

.container {
  padding: 30px;
}

.movie__details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ticket-prices {
  justify-content: space-between !important;
}

.ticket-price {
  display: flex;
  align-items: center;
}

.seats-grid {
  display: flex;
  justify-content: center;
}

.hidden-input {
  display: none;
}

.seat {
  user-select: none;
}
