.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card {
  height: 300px;

  &__image-container {
  }

  &__image {
    width: 200px;
    height: auto;
  }
}
