@import '/node_modules/bulma/bulma.sass';

html {
  background-color: rgb(15, 26, 43);
}

.container {
  padding: 30px;
}

.movie__details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ticket-prices {
  justify-content: space-between !important;
}

.ticket-price {
  display: flex;
  align-items: center;
}

.seats-grid {
  display: flex;
  justify-content: center;
}

.visually-hidden {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.seat {
  user-select: none;
  padding: 0 !important;
}

.seat__label {
  padding: 0.5em 0.75em;
  display: block;
  width: 100%;
  height: 100%;
}

.footer {
  border-top: solid 3px #162131;
  background-color: #08111d;
}
